*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    width: 80vw;
    height: 60vh;
    background-color: gray;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    transition: 0.5s;
}

.card{
    position: relative;
    height: 90%;
    width: 30%;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.open,
.closed{
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.closed{
    background-color: red;
    transition: 0.5s;
}
.card:hover .closed{
    height: 10%;
}